colors.txt
sitemap.html
notebook.html
credits.html
commonplace.html
about1.html
comms.html

lost-refuge/.vscode
lost-refuge/CSS/scrapped
lost-refuge/gallery

#incompatible with Neocities (free)
*.mp*
*.ogg
*.wav