* {
  box-sizing: border-box;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  font-size: larger;
  color: #f1ece0;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

h1 {
  font-size: 2.5em;
}

a {
  color: #f1ece0;
}

a:hover,
a:visited {
  color: #f1ece0;
  text-decoration: none;
}
