* {
  box-sizing: border-box;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 4px;
  margin: 0px;
  width: 100%;
  text-align: left;
}

h1 {
  margin: auto;
}

h2 {
  font-size: 20px;
  width: 100%;
  padding-left: 5px;
}

h3,
h4,
h5,
h6 {
  line-height: 120%;
  letter-spacing: 2px;
  margin: 0px;
}

p {
  margin-top: 0;
  line-height: 120%;
}

button {
  border-radius: none;
  padding: 5px;
  margin: 5px 0px 5px 0px;
}

hr {
  border-width: 1px;
  padding: 1px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

ul,
ol {
  margin: 10px 0px 10px 0px;
  padding-inline-start: 20px;
}

ul li::marker {
  content: " ";
}

li ul {
  margin: 1px 0px 2px 0px;
}

ul li {
  padding-inline-start: 5px;
  margin: 2px 0px 2px 0px;
}

mark {
  padding: 0 1px;
}

section {
  margin-bottom: 1em;
}

section.double {
  margin-bottom: 3em;
}

#maincontainer {
  height: 100%;
  width: 100%;
  padding: 25px 10px;
  min-height: 800px;
}

#sitecontent {
  min-width: 377px;
  max-width: 1002px;
  margin: auto;
}

#banner {
  min-width: 375px;
  max-width: 1000px;
  height: 200px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
}

#logobox {
  position: absolute;
  right: 5%;
  top: 0;
  height: 200px;
  width: 267px;
  background-position: center;
  background-size: cover;
}

#contentcard {
  width: 23%;
  height: 150px;
  padding: 0px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-size: contain;
}

a #contentcard-caption {
  margin: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  height: 30px;
}

#statuscafe {
  padding: 0.5em;
}
#statuscafe-username {
  margin-bottom: 0.5em;
}
#statuscafe-content {
  margin: 0 1em 0.5em 1em;
}

#home {
  padding: 0;
  margin: 0;
  max-height: 1px;
}

.separator {
  width: 100%;
  border-width: 1px 0px 1px 0px;
  padding: 0px 5px 0px 5px;
}

/* SPACEHEY RSS */
h3.feed-title {
  visibility: hidden;
  pointer-events: none;
  height: 1px;
}

p.feed-item-desc {
  padding-bottom: 1em;
}

nav {
  width: 100%;
  border-width: 1px 0px 1px 0px;
  padding: 0px 5px 0px 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  margin: auto;
}

/* DROPDOWN */
.dropbtn {
  padding: 5px;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1;
  margin-top: 0.4em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

/* MAIN CONTENT LAYOUT */
.contentarea {
  min-width: 100px;
  width: 100%;
  padding: 10px;
  margin: auto;
  margin-top: 0px;
  overflow-y: auto;
}

.fakebreak {
  margin-bottom: 1em;
}

.center {
  max-width: 750px;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shifting-flex {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 45%;
  margin: 0 auto;
  padding: 0 15px 0 0;
}

.sidebar#right {
  border-right: none;
  margin: 0 auto;
  padding: 0 0 0 15px;
}

.f-group {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0 15px;
}

.f-group#right {
  padding: 0 15px 0 0;
}

.left {
  float: left;
  padding: 0 10px 0 0;
}

.cardholder {
  margin-top: 1em;
  column-count: 6;
}

/* RESPONSIVE START HERE */
@media only screen and (max-width: 600px) {
  .animated-text {
    visibility: hidden;
    width: 1px;
  }

  .shifting-flex {
    flex-direction: column-reverse;
  }

  .sidebar {
    padding: 0;
    margin-top: 20px;
    width: 100%;
  }

  .f-group {
    padding: 0;
  }

  .sidecard {
    height: 1px;
    visibility: hidden;
  }

  .left {
    width: 46%;
  }

  #logobox {
    height: 200px;
    width: 200px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
