@font-face {
  font-family: "Oldtimer";
  src: url(/FONTS/oldtimer-font/Oldtimer.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Sedimenti";
  src: url(/FONTS/sedimenti-typeface/Sedimenti-Typeface/Sedimenti-Regular.otf);
  font-style: normal;
}

@font-face {
  font-family: "Ticketing";
  src: url(/FONTS/TICKETING/Ticketing.ttf);
}

@font-face {
  font-family: "VCR OSD Mono";
  src: url(/FONTS/vcr-osd-mono/VCR_OSD_MONO.ttf);
}

@font-face {
  font-family: "VT323";
  src: url(/FONTS/vt323/VT323-Regular.ttf);
}

@font-face {
  font-family: "Averrhoa";
  src: url(/FONTS/averrhoa-italic-font-8px/AverrhoaItalic-Regular.ttf);
}

@font-face {
  font-family: "Belandi";
  src: url(/FONTS/belanidi-serif/BelanidiSerif-Regular.ttf);
}

@font-face {
  font-family: "E1234";
  src: url(/FONTS/e1234-font/E1234.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  scrollbar-width: 5px;
  scrollbar-color: #0d738080 #00000000;
  scrollbar-arrow-color: #00000000;
}

body {
  background-color: #161513;
  background-image: url(/IMAGES/trans-omu.PNG);
  color: #f1ece0;
  position: relative;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  image-rendering: pixelated;
  font-size: 12px;
}

main {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 4px;
  margin: 0px;
  width: 100%;
  text-align: left;
  font-family: "Oldtimer";
  text-transform: uppercase;
}

h1 {
  background-color: #287c75;
  color: #daad00;
  padding-left: 5px;
  font-family: "Oldtimer";
  font-weight: bold;
  font-size: 1.5em;
  border-top: inherit;
  border-color: #287c75;
}

h2 {
  background-color: #d43340;
  color: #daad00;
  font-size: 1.2em;
  width: 100%;
  padding: 2px;
}

h3,
h4,
h5,
h6,
[role="columnheader"] {
  letter-spacing: 2px;
  padding: 0 0 0 5px;
  font-size: 0.9em;
  font-family: "Sedimenti";
  color: inherit;
  text-transform: uppercase;
}

a,
nav a:visited {
  color: #daad00;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #a0ba6a;
}

[role="columnheader"] {
  line-height: 120%;
}

#home {
  padding: 1px;
  color: #141311;
  text-shadow: 0 0 4px #7ac2b0;
}

a:hover,
#home:hover,
.table-wrap a:hover,
nav a:hover {
  color: #7ac2b0;
  cursor: pointer;
}

p {
  padding: 0;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

header {
  background: linear-gradient(#1413111a, #141311e6), #2a2a2c00 url("/IMAGES/primarystars.png") repeat;
  border: inherit;
  box-shadow: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  align-content: space-between;
}

hr {
  border: 2px solid #287c75;
  opacity: 1;
  border-radius: 10px;
  margin-bottom: 1em;
}

aside {
  height: 100%;
  padding: 15px;
  display: none;
}

nav {
  margin: 20px 0;
  padding-right: 10px;
  text-align: right;
}

nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 0;
}

nav li ul {
  margin: 0;
}

nav hr {
  align-self: flex-end;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
}

nav a {
  line-height: 120%;
  letter-spacing: 2px;
  font-family: "Armata" sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  width: 25%;
}

nav a:hover {
  letter-spacing: 3px;
  backdrop-filter: blur(5px);
}

ul,
ol {
  margin: 5px 0px 10px 0px;
  padding-inline-start: 5px;
  font: inherit;
  letter-spacing: inherit;
}

p ul {
  margin: 0;
}

.link-stretch ul {
  margin: 10px 0px 10px 0px;
  padding-inline-start: 20px;
}

ul li::marker {
  content: " ";
}

li ul {
  margin: 1px 0px 2px 0px;
}

ul li {
  padding-inline-start: 5px;
  margin: 2px 0px 2px 0px;
  font: inherit;
  letter-spacing: inherit;
}

mark {
  border: 1px solid #005b8080;
  background-color: #005b8080;
  color: #f1ece0;
}

table,
th,
tr,
td {
  border-collapse: collapse;
}

.favorites tr:first-child,
.favorites tr:nth-child(3) {
  line-height: 200%;
  background-image: linear-gradient(to right, #00000000, #005b8066, #00000000);
  border-bottom: 2px solid #005b80;
}

.plate,
[class*="grid-"] {
  width: 100%;
  border: 2px solid #df9b35;
  box-shadow: 1px 1px #df9b35, 2px 2px #df9b35, 3px 3px #df9b35, 4px 4px #df9b35;
  backdrop-filter: blur(5px);
  overflow: visible;
}

aside.plate {
  border-width: 0 2px 0 0;
}

.plate#container {
  background-color: #1413118c;
}

.blg-content {
  height: 100%;
  margin: 15px 0 0 0;
  overflow: auto;
}

.blg-content * {
  width: 80%;
  margin: auto;
}

.blg-content p {
  margin-bottom: 1em;
}

.nav-toggle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  padding-top: 3px;
  font-size: 2.5em;
  text-align: center;
  cursor: pointer;
}

.text {
  padding: 5px;
  height: 100%;
}

.left {
  float: left;
  margin: 0 10px 0 0;
}

img.filter {
  border: 2px solid #d43340;
}

.spacer {
  display: none;
}

.logo {
  visibility: hidden;
}

.dash {
  width: 95%;
  padding: 15px;
  overflow: hidden;
  height: 880px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.dash .plate,
.blog .plate {
  margin-bottom: 15px;
}

.link-stretch {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0 2% 20% 0;
  height: 77%;
  overflow-y: scroll;
}

.link-stretch .plate {
  height: auto;
  overflow: auto;
}

.blog {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.webmaster {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.webmaster img {
  max-width: 60%;
  margin: auto;
}

.blog div:nth-of-type(2) {
  height: 100%;
}

#footer {
  font-size: 0.9em;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  padding: 10px;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.8fr 1.2fr 1.1fr 0.8fr 1.8fr 0.3fr;
  gap: 15px 10px;
  grid-template-areas:
    "header header header header header header header"
    "header header header header header header header"
    "greeting greeting greeting greeting greeting greeting greeting"
    "updates updates updates updates updates updates updates"
    "status status status status status status status"
    "latest latest latest latest latest latest latest"
    "footer footer footer footer footer footer footer";
}

.grid-header {
  grid-area: header;
}
.grid-greeting {
  grid-area: greeting;
}
.grid-updates {
  grid-area: updates;
}
.grid-cool-sites {
  grid-area: cool-sites;
  display: none;
}
.grid-latest {
  grid-area: latest;
}
.grid-status {
  grid-area: status;
}
.grid-appreciation {
  grid-area: appreciation;
  display: none;
}
.grid-idioms {
  grid-area: idioms;
  display: none;
}
.grid-widget {
  grid-area: widget;
  display: none;
}
.grid-extras {
  grid-area: extras;
  display: none;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: footer;
}

.table-wrap {
  max-width: 100%;
  overflow-x: auto;
  padding: 0.5em;
}

.rss-box-idiom .rss-items {
  margin: 0;
}

.rss-box-idiom .rss-item a {
  font-family: "Armata" sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}

.rss-box-idiom .rss-item a {
  line-height: 120%;
  letter-spacing: 2px;
  margin: 0px;
}

.table {
  display: table;
  width: 100%;
  text-align: left;
  margin-top: 5px;
  border-collapse: collapse;
}

.trow {
  display: table-row;
  background-image: linear-gradient(to right, #00000000, #005b8066, #00000000);
}

.trow:nth-of-type(even),
div.trow {
  background-image: linear-gradient(to right, #00000000, #005b8080, #00000000);
}

a.trow:hover {
  border: 1px solid #005b80;
  background-color: #005b804d;
  /* background-image: linear-gradient(to right, #005b800d, #005b804d, #005b800d); */
}

.cell {
  display: table-cell;
  padding: 0.2em;
}

.cell:first-child {
  padding-left: 3.5em;
}

.tiles {
  margin: 15px auto 15px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
}

#contain_moon {
  background-image: url(/IMAGES/Space\ Background.png);
  overflow: hidden;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
}

#postlistdiv {
  display: flex;
  flex-flow: column wrap;
}

#header,
#nextprev {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  margin-top: 5px;
}

#close-nav {
  display: none;
}

/* TOOLTIP */
span[data-tooltip] {
  border-bottom: 2px dotted #7ac2b0;
}

[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]::before,
[data-tooltip]::after {
  font-size: 0.9em;
  line-height: 1;
  position: absolute;
  display: none;
}

[data-tooltip]::before {
  content: "";
  border: 6px solid transparent;
  z-index: 101;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 5px;
  border-radius: 5px;
  border: 2px solid #7ac2b0;
  background: #0d738080;
  backdrop-filter: blur(8px);
  color: #7ac2b0;
  z-index: 100;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  display: block;
}
[data-tooltip=""]::before,
[data-tooltip=""]::after {
  display: none;
}

[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^="top"]::after {
  bottom: 70%;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^="top"]::before,
[data-tooltip][data-flow^="top"]::after {
  left: 50%;
  transform: translate(-50%, -0.4em);
}

/* ----- RESPONSIVE GRID ----- */

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-0 {
    width: 0;
  }
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }

  .home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.8fr 1.2fr 1.1fr 0.8fr 1.8fr 0.3fr;
    gap: 15px 10px;
    grid-template-areas:
      "header header header header header header header"
      "header header header header header header header"
      "greeting greeting greeting greeting updates updates updates"
      "latest latest latest latest latest latest latest"
      "status status status status appreciation appreciation appreciation"
      "extras extras extras extras extras extras extras"
      "footer footer footer footer footer footer footer";
  }

  .link-stretch {
    height: 79%;
    flex-flow: row nowrap;
  }

  .link-stretch .plate {
    height: max-content;
    width: 32%;
  }

  aside {
    padding: 15px;
  }

  body {
    font-size: 15px;
  }

  .nav-toggle {
    display: none;
  }

  aside,
  .grid-appreciation,
  .grid-extras,
  .logo {
    display: initial;
    visibility: visible;
  }

  .about {
    flex-direction: row;
  }

  .about > div {
    width: 49%;
  }

  .binder {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;
  }

  .binder > div {
    width: 32%;
    height: 32%;
    display: flex;
    flex-direction: column;
  }

  .bindercard {
    height: 100%;
    display: flex;
    flex-flow: row;
  }
}

@media only screen and (min-width: 1248px) {
  /* half-size desktop */
  .home {
    grid-template-areas:
      "header header header header header header header"
      "header header header header header header header"
      "greeting greeting greeting greeting updates updates updates"
      "cool-sites cool-sites latest latest latest status status"
      "cool-sites cool-sites latest latest latest appreciation appreciation"
      "idioms idioms idioms extras extras extras extras"
      "footer footer footer footer footer footer footer";
  }

  .link-stretch {
    height: 84%;
  }

  .link-stretch .plate {
    width: 32%;
  }

  .grid-cool-sites,
  .grid-idioms,
  nav {
    display: initial;
  }

  .webmaster {
    flex-direction: row;
  }

  .webmaster img {
    max-width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 1663px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  .home {
    grid-template-areas:
      "header header header header header header header"
      "header header header header header header header"
      "greeting greeting greeting greeting updates updates updates"
      "cool-sites cool-sites latest latest latest status status"
      "cool-sites cool-sites latest latest latest appreciation appreciation"
      "idioms idioms idioms widget extras extras extras"
      "footer footer footer footer footer footer footer";
  }

  #container {
    width: 55%;
    margin-left: 5%;
  }

  .grid-widget,
  .spacer {
    display: initial;
  }

  .webmaster {
    display: flex;
    padding: 1%;
  }

  body,
  main {
    overflow: hidden;
  }
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row nowrap;
}
/* END RESPONSIVE GRID */
