@font-face {
  font-family: "Anaheim";
  src: url(FONTS/Anaheim/Anaheim-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Armata";
  src: url(FONTS/Armata/Armata-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
}

/* SCANLINES */
body::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 33%, rgba(0, 0, 0, 0.25) 66%), linear-gradient(90deg, rgba(255, 0, 0, 0.04), rgba(0, 255, 0, 0.009), rgba(0, 0, 255, 0.04));
  background-size: 100% 3px;
  z-index: 2;
  pointer-events: none;
  animation: scanlines 0.7s linear infinite;
}

@keyframes scanlines {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px 9px;
  }
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

/* SCANLINES END */

body {
  background-image: url(IMAGES/otis-redding.png);
  background-color: #141311;
  color: #f1ece0;
  font-family: "Anaheim", sans-serif;
  text-align: left;
  font-size: 15px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Armata" sans-serif;
  color: #e80037;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0px;
  width: 100%;
  text-align: left;
}

h1 {
  margin: auto;
}

h2 {
  color: #141311;
  font-size: 20px;
  width: 100%;
  background-color: #e80037;
  padding-left: 5px;
}

h3,
h4,
h5,
h6 {
  font-family: "Armata" sans-serif;
  color: inherit;
  text-transform: uppercase;
  line-height: 120%;
  letter-spacing: 2px;
  margin: 0px;
  font-size: inherit;
}

h5,
h6 {
  color: #7b7665;
}

p {
  margin-top: 0;
  line-height: 120%;
}

button {
  background: none;
  border-radius: none;
  border: 1px solid #e80037;
  color: #e80037;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  margin: 5px 0px 5px 0px;
  background-color: #1413118c;
}

button:hover {
  background-color: #e8003680;
  border-color: #e80037;
  color: #f1ece0;
  cursor: pointer;
}

hr {
  border: none;
  background-color: #e80037;
  border-width: 1px;
  padding: 1px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  opacity: 0.5;
  /* width: 70%; */
}

a {
  color: #e80037;
  text-decoration: none;
}

a:hover {
  color: #f1ece0;
  cursor: pointer;
  background: none;
}

ul,
ol {
  font: inherit;
  letter-spacing: inherit;
  margin: 10px 0px 10px 0px;
  padding-inline-start: 20px;
  opacity: 1;
}

ul li::marker {
  content: " ";
}

li ul {
  margin: 1px 0px 2px 0px;
}

ul li {
  padding-inline-start: 5px;
  margin: 2px 0px 2px 0px;
  font: inherit;
  letter-spacing: inherit;
}

mark {
  background-color: #89435f80;
  color: #f1ece0;
  padding: 0 1px;
}

img {
  image-rendering: pixelated;
}

#sitecontent {
  min-width: 377px;
  max-width: 1002px;
  margin: auto;
}

#banner {
  min-width: 375px;
  max-width: 1000px;
  height: 200px;
  overflow: hidden;
  position: relative;
  image-rendering: pixelated;
  background-image: url(IMAGES/IMG_3125-3.png);
  background-size: cover;
  background-position: center;
  /* background-color: #1413118c; */
}

#logobox {
  position: absolute;
  right: 5%;
  top: 0;
  height: 200px;
  width: 267px;
  background-image: url(IMAGES/crest.png);
  background-position: center;
  background-size: cover;
  image-rendering: pixelated;
}

#maincontainer {
  height: 100%;
  width: 100%;
  padding: 25px 10px;
  min-height: 800px;
}

#contentcard {
  width: 23%;
  height: 150px;
  padding: 0px;
  margin-bottom: 15px;
  border: 1px solid #7b7665;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-size: contain;
  image-rendering: pixelated;
}

a #contentcard-caption {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #7b7665;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  padding: 5px;
  height: 30px;
  border-top: 1px solid #7b7665;
  background-color: #1413118c;
  backdrop-filter: blur(2px);
}

a #contentcard-caption:hover {
  color: #f1ece0;
  border-top: 1px solid #e80037;
  background-color: #e8003780;
}

#nav {
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: none;
  border: none;
  width: 50%;
  margin: auto;
}

#statuscafe {
  padding: 0.5em;
  border: 1px solid #e80037;
  background-color: #1413118c;
}
#statuscafe-username {
  margin-bottom: 0.5em;
}
#statuscafe-content {
  margin: 0 1em 0.5em 1em;
}

#home {
  background-color: #e8003642;
  padding: 0;
  margin: 0;
  max-height: 1px;
}

/* SPACEHEY RSS */
h3.feed-title {
  visibility: hidden;
  pointer-events: none;
  height: 1px;
}

p.feed-item-desc {
  padding-bottom: 1em;
  border-bottom: 2px solid #e8003780;
}

.separator {
  width: 100%;
  border-bottom: 1px solid #e80037;
  border-width: 1px 0px 1px 0px;
  /* box-shadow: 0px 0px 10px #e8003780; */
  padding: 0px 5px 0px 5px;
  /* background-color: #1413118c; */
}

.broider {
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAVklEQVQ4T2N8wWD+n4HKgBFkqATDSUZqmQsyD24oNhfjswyXegxDKXExzMejhiIiiiaxP2ooVUIAJZ1SxUSgIbQ3lNKCZTSbgstl2penVE9S1DIQZg4AKjuhjMS2B3sAAAAASUVORK5CYII=") 7 / 7px / 0 round;
  border-style: solid;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e8003680;
  backdrop-filter: blur(5px);
  border: 1px solid #e80037;
  border-bottom: none;
  min-width: 100px;
  z-index: 1;
}

.contentarea {
  min-width: 100px;
  width: 100%;
  padding: 10px;
  margin: auto;
  margin-top: 0px;
  background-color: #1413118c;
  border: 1px solid #e80037;
}

.center {
  max-width: 750px;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shifting-flex {
  display: flex;
  flex-direction: row;
}

.sidebar {
  border-right: 1px solid #e80037;
  margin: 0 auto;
  padding: 0 15px 0 0;
}

.sidebar#right {
  border-right: none;
  border-left: 1px solid #e80037;
  margin: 0 auto;
  padding: 0 0 0 15px;
}

.f-group {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 0 15px;
  border-color: #e80037;
}

.f-group#right {
  padding: 0 15px 0 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #f1ece0;
  padding: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  border-bottom: 1px solid #e80037;
}

/* ANIMATED TEXT */
.animated-text {
  margin: 0px;
  padding: 0px;
  height: 25px;
  overflow: hidden;
  display: inline-block;
  box-sizing: content-box;
}

.roll {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}

.roll div {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}

#ani-container {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  box-sizing: content-box;
}

#flip {
  height: 25px;
  width: max-content;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  box-sizing: content-box;
}

#flip > div > div {
  padding: 0px;
  margin-bottom: 0px;
  display: inline-block;
  box-sizing: content-box;
}

#flip div:first-child {
  animation: show 22s linear infinite;
}

@keyframes show {
  0% {
    margin-top: 15px;
  }
  3% {
    margin-top: -8px;
  }
  6% {
    margin-top: -8px;
  }
  9% {
    margin-top: -47px;
  }
  12% {
    margin-top: -47px;
  }
  15% {
    margin-top: -87px;
  }
  18% {
    margin-top: -87px;
  }
  21% {
    margin-top: -125px;
  }
  24% {
    margin-top: -125px;
  }
  27% {
    margin-top: -165px;
  }
  30% {
    margin-top: -165px;
  }
  33% {
    margin-top: -204px;
  }
  36% {
    margin-top: -204px;
  }
  39% {
    margin-top: -243px;
  }
  42% {
    margin-top: -243px;
  }
  45% {
    margin-top: -282px;
  }
  48% {
    margin-top: -282px;
  }
  51% {
    margin-top: -321px;
  }
  54% {
    margin-top: -321px;
  }
  57% {
    margin-top: -360px;
  }
  60% {
    margin-top: -360px;
  }
  63% {
    margin-top: -400px;
  }
  66% {
    margin-top: -400px;
  }
  69% {
    margin-top: -439px;
  }
  72% {
    margin-top: -439px;
  }
  75% {
    margin-top: -478px;
  }
  78% {
    margin-top: -478px;
  }
  81% {
    margin-top: -517px;
  }
  84% {
    margin-top: -517px;
  }
  87% {
    margin-top: -556px;
  }
  90% {
    margin-top: -556px;
  }
  93% {
    margin-top: -595px;
  }
  96% {
    margin-top: -595px;
  }
  100% {
    margin-top: -631px;
  }
}
